<template>
  <li class="d-flex justify-content-between align-items-center">
    <h5>{{product.name}}</h5>
    <div class="price">{{sumPrice}}</div>
    <div class="quantity">
      <input
        type="number"
        min="1"
        step="1"
        v-model="newInvoiceItem.quantity"
        @change="calcTotal"
      >
    </div>
    <i class="fa fa-close" @click="removeProduct"></i>
  </li>
</template>

<script>
  export default {
    props: {
      product: {
        type: Object,
        required: true
      },
      invoiceID: {
        type: Number,
        required: true
      }
    },
    data(){
      return {
        newInvoiceItem: {
          'invoice_id': this.invoiceID,
          'product_id': this.product.id,
          quantity: 1
        }
      }
    },
    computed: {
      sumPrice(){
        return (this.product.price * this.newInvoiceItem.quantity).toFixed(2);
      }
    },
    methods: {
      calcTotal(){
        this.product.totalPrice = this.sumPrice;
        this.$emit('change');
        this.saveInvoiceItem();
      },
      removeProduct(){
        this.$emit('removeProduct', this.product);
      },
      async saveInvoiceItem(){
        if(!this.newInvoiceItem.id){
          try{
            let {data: {id}} = await this.axios.post(`/api/invoices/${this.invoiceID}/items`)

            this.newInvoiceItem.id = id
          } catch(err){
            console.error(err);
          }
        } else{
          try{
            let res = await this.axios.put(`/api/invoices/${this.invoiceID}/items/${this.newInvoiceItem.id}`, this.newInvoiceItem)
          } catch(err){
            console.error(err);
          }
        }
      }
    },
    created() {
      this.calcTotal();
    }
  }
</script>
