<template>
  <div class="container">
    <h1>Products</h1>

    <div class="row cards-list">
      <single-product
        v-for="product in productsList"
        :key="product.id"
        :product="product"
      ></single-product>
    </div>
  </div>
</template>

<script>
  import SingleProduct from './SingleProduct.vue';

  export default {
    data(){
      return {
        productsList: []
      }
    },
    async created(){
      try{
        let {data} = await this.axios.get('/api/products');
        this.productsList = data
      } catch(err){
        console.error(err);
      }
    },
    components: {
      SingleProduct
    }
  }
</script>
