<template>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <template v-if="!editMode">
          <h3 class="card-title">{{singleProduct.name}}</h3>
          <p class="price">
            {{singleProduct.price}}
          </p>
          <button
            class="btn btn-primary edit-button"
            @click="editMode = !editMode"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i>Edit
          </button>
        </template>
        <template v-else>
          <div class="form-group">
            <input
              type="text"
              class="product-title-input"
              v-model="singleProduct.name"
            >
          </div>
          <div class="form-group">
            <input
              type="number"
              min="0"
              step="0.01"
              class="product-price-input"
              v-model="singleProduct.price"
            >
          </div>
          <button
            class="btn btn-success edit-button"
            @click="saveProduct"
          >
            Save
          </button>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      product: {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        singleProduct: this.product,
        editMode: false
      }
    },
    methods: {
      async saveProduct(){
        await this.axios.put(`/api/products/${this.singleProduct.id}`, this.singleProduct);

        this.editMode = !this.editMode
      }
    }
  }
</script>
