<template>
  <div
    class="input-wrap"
    :class="[{'has-error': showErrors}, classes]"
  >
    <label>
      <span v-if="label">{{label}}</span>
      <input
        :type="type"
        :value="value"
        :placeholder="placeholder"
        :disabled="disabled"
        @input="emitNewValue($event)"
        @focus="clearErrors"
      >
    </label>
    <template v-if="showErrors">
      <p class="input-error"
        v-for="error in errorsList"
        :key="error"
      >{{error}}</p>
    </template>
  </div>
</template>

<script>
  export default {
    props: {
      value: {
        type: String,
        required: true
      },
      label: String,
      placeholder: String,
      type: {
        type: String,
        required: true
      },
      classes: [String, Array],
      errors: {
        type: Array,
        default () {
          return []
        }
      },
      disabled: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        errorsList: []
      }
    },
    computed: {
      showErrors () {
        return this.errorsList.length
      }
    },
    watch: {
      errors (newErrors) {
        this.errorsList = newErrors
      }
    },
    methods: {
      emitNewValue (e) {
        this.$emit('input', e.target.value)
      },
      clearErrors () {
        this.errorsList = []
      }
    }
  }
</script>
