<template>
  <div
    class="select-wrap"
    :class="{'in-focus': showOptions}"
  >
    <label>
      <span @click="toggleOptions">{{label}}</span>
      <div class="select" @click="toggleOptions">
        {{value ? value : placeholder}}
        <i class="fa fa-caret-down"></i>
      </div>
      <ul class="options-list">
        <li
          v-for="option in options"
          @click="selectOption(option)"
        >{{option.name}}</li>
      </ul>
    </label>
  </div>
</template>

<script>
  export default {
    props: {
      options: {
        type: Array,
        required: true
      },
      label: String,
      value: {
        type: String,
        required: true
      },
      placeholder: String,
      classes: [String, Array]
    },
    data () {
      return {
        showOptions: false
      }
    },
    methods: {
      toggleOptions () {
        this.showOptions = !this.showOptions
      },
      selectOption (option) {
        this.showOptions = false

        // this.$emit('input', option.name)
        this.$emit('selectProduct', option)
      }
    }
  }
</script>
