/* Common */
.cards-list .card{
	margin-bottom: 40px;
}
.edit-button i{
	margin-right: 8px;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}

/* Form Styles */
.input-wrap label,
.select-wrap label {
  display: block;
  padding: 0 20px;
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  margin-bottom: 8px;
  line-height: 0;
}
.input-wrap label span,
.select-wrap label span {
	display: block;
	margin-bottom: 5px;
	padding-top: 15px;
	font-size: 12px;
	color: #888;
	font-weight: normal;
	line-height: 1;
	pointer-events: none;
}

.input-wrap input,
.input-wrap .select,
.select-wrap input,
.select-wrap .select {
  line-height: 38px;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.select-wrap label {
  position: relative;
}

.select-wrap .select {
  position: relative;
}
.select-wrap .select i {
	position: absolute;
	right: 0;
	padding: 0 5px;
	line-height: 38px;
	transition: all .2s;
}
.select-wrap .select i:hover{
  cursor: pointer;
}

.select-wrap .options-list {
  display: none;
  position: absolute;
  width: calc(100% + 2px);
  left: -1px;
  top: 100%;
  z-index: 10;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  border-top: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.select-wrap .options-list li {
	padding: 0 20px;
	font-size: 16px;
	font-weight: normal;
	line-height: 2.4;
	border-bottom: 1px solid #EBEBEB;
	transition: all .2s;
}
.select-wrap .options-list li:hover {
  cursor: pointer;
  background-color: #F66631;
  color: #fff;
}
.select-wrap .options-list li:last-child {
  border-bottom: none;
}

.select-wrap.in-focus label {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select-wrap.in-focus .select i {
  transform: rotate(180deg);
  transform-origin: center;
}

.select-wrap.in-focus .options-list {
  display: block;
}


/* Home */
.show-form-button{
	min-width: 150px;
}
.discount-wrap input{
  border: 1px solid #EBEBEB;
}
/* Invoices List */
.delete-invoice{
	position: absolute;
	right: 0;
	top: 0;
	transform: translate(50%, -50%);
	width: 24px;
	height: 24px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid #c82333;
	line-height: 18px;
	background-color: #fff;
	cursor: pointer;
}
.delete-invoice i{
	color: #C82333;
}

/* New Invoice Form */
.added-products{
	padding: 15px;
}
.added-products h5{
	font-weight: bold;
}
.added-products li{
	margin-bottom: 20px;
}
.added-products .price{
	margin-left: auto;
}
.added-products .quantity{
	margin-left: 30px;
}
.added-products .quantity input{
	width: 80px;
}
.added-products .fa-close{
	margin-left: 15px;
	color: red;
	cursor: pointer;
}

/* Footer */
.main-footer{
	margin-top: 50px;
	background-color: #ccc;
	text-align: center;
	font-size: 12px;
	line-height: 1.2;
	color: #444;

	padding: 20px 0;
}
