<template>
  <div class="container" v-if="invoicesList.length">
    <h1>Invoices</h1>

    <div class="row">
      <div
        class="col-lg-4 col-md-6 col-sm-12 cards-list"
        v-for="(invoice, index) in invoicesList"
        :key="invoice.id"
      >
        <div class="card">
          <a
            class="delete-invoice"
            @click="deleteInvoice(invoice.id, index)"
          >
            <i class="fa fa-close"></i>
          </a>
          <div class="card-body">
            <h3 class="card-title">{{invoice.total}}</h3>
            <h6
              class="card-subtitle mb-2 text-muted"
              v-if="invoice.discount"
            >
              With Discount: {{invoice.discount}} %
            </h6>
            <router-link
              :to="`/invoices/${invoice.id}`"
              class="btn btn-primary edit-button"
            >
              Discover More
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" v-else>
    <div class="alert alert-secondary text-center" role="alert">
      There is no invoices yet
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      invoices: {
        type: Array,
        required: true
      }
    },
    computed: {
      invoicesList(){
        return this.invoices
      }
    },
    methods: {
      async deleteInvoice(id, index){
        try{
          let {data: deletedInvoice} = await this.axios.delete(`/api/invoices/${id}`)

          // Remove deleted invoice from Invoices List
          this.$delete(this.invoicesList, index);
        } catch (err) {
          console.error(err);
        }
      }
    }
  }
</script>
