<template>
  <section class="new-invoice">
    <div class="container">
      <form
        action=""
        class="create-invoice"
      >
        <fake-select
          placeholder="Customer"
          :options="customersList"
          label="Choose Customer"
          v-model="customerValue"
          @selectValue="selectCustomer"
        ></fake-select>

        <div v-if="customerValue">
          <fake-select-many
            placeholder="Product"
            :options="selectableProducts"
            label="Choose Product"
            v-model="productValue"
            @selectProduct="selectProduct"
          ></fake-select-many>

          <ul class="added-products" v-if="addedProducts.length">
            <added-product
              v-for="product in addedProducts"
              :product="product"
              :key="product.id"
              :invoiceID="newInvoice.id"
              @removeProduct="removeProduct"
              @change="calculateTotal"
            ></added-product>
          </ul>

          <div class="text-right discount-wrap">
            <label>
              Discount
              <input
                type="number"
                min="0"
                step="1"
                v-model="newInvoice.discount"
                @change="calculateTotal"
              > %
            </label>
          </div>
        </div>

        <hr>

        <h4 class="d-flex justify-content-between">
          <span>Total</span>
          <span>${{newInvoice.total}}</span>
        </h4>

        <hr>
      </form>
    </div>
  </section>
</template>

<script>
  import CustomInput from '../shared/CustomInput.vue'
  import FakeSelect from '../shared/FakeSelect.vue'
  import FakeSelectMany from '../shared/FakeSelectMany.vue'
  import AddedProduct from '../Products/AddedProduct.vue'

  export default {
    data(){
      return {
        newInvoice: {
          customer_id: 0,
          discount: 0,
          total: 0
        },
        productsList: [],
        productValue: '',
        addedProducts: [],
        customerValue: '',
        customersList: []
      }
    },
    computed: {
      selectableProducts() {
        return this.productsList.filter(currentProduct => {
          return this.addedProducts.every(currentAddedProduct => {
            return currentProduct.id !== currentAddedProduct.id
          });
        });
      }
    },
    methods: {
      selectCustomer(customer) {
        // Save Customer ID to New Invoice
        this.newInvoice.customer_id = customer.id
        this.saveInvoice();
      },
      selectProduct(product) {
        product.totalPrice = product.price;
        this.addedProducts.push(product);

        this.calculateTotal();
      },
      removeProduct(product) {
        this.addedProducts.splice(this.addedProducts.indexOf(product), 1);
        this.calculateTotal();
      },
      calculateTotal() {
        // Sum Up Total Prices of All Added Products
        let totalProductsPrice = this.addedProducts.reduce((sum, currentProduct) => {
          return sum + parseFloat(currentProduct.totalPrice);
        }, 0);

        // If Some Discount Exist
        if(this.newInvoice.discount > 0){
          this.newInvoice.total = (totalProductsPrice - (totalProductsPrice * (this.newInvoice.discount / 100))).toFixed(2);
        } else{
        // If No Discount
          this.newInvoice.total = totalProductsPrice;
        }

        this.saveInvoice();
      },
      async saveInvoice(){
        if(this.newInvoice.id === undefined){
          // If Invoice is not exist, create it
          try {
            let {data} = await this.axios.post('/api/invoices/', this.newInvoice);
            this.newInvoice.id = data.id

            this.$emit('saveInvoice', {
              newInvoice: this.newInvoice
            });
          } catch(err){
            console.error(err);
          }
        } else {

          // If Invoice exists, update it
          try {
            await this.axios.put(`/api/invoices/${this.newInvoice.id}`, this.newInvoice);

            this.$emit('saveInvoice', {
              newInvoice: this.newInvoice,
              exists: true
            });
          } catch(err){
            console.error(err);
          }
        }
      }
    },
    async created(){
      // Get Customers List
      try{
        let {data} = await this.axios.get('/api/customers');
        this.customersList = data
      } catch(err){
        console.error('Get Customers', err);
      }

      // Get Products List
      try{
        let {data} = await this.axios.get('/api/products');
        this.productsList = data
      } catch(err){
        console.error('Get Products', err);
      }
    },
    components: {
      CustomInput,
      FakeSelect,
      FakeSelectMany,
      AddedProduct
    }
  }
</script>
