<template>
  <section class="single-invoice">
    <div class="container">
      <!-- Single Invoice -->
      <div class="card">
        <!-- Customer -->
        <h2 class="card-header">
          Customer: {{customer.name}}
        </h2>

        <!-- Products List -->
        <ul class="list-group list-group-flush" v-if="products.length">
          <li
            class="list-group-item"
            v-for="(product, index) in products"
            :key="product.id"
          >
            {{product.name}}
            <span class="badge badge-primary badge-pill">{{invoiceItems[index].quantity}} items</span>
          </li>
        </ul>

        <!-- Price Info -->
        <div class="card-body">
          <h3 class="card-title">{{invoice.total}}</h3>
          <h6
            class="card-subtitle mb-2 text-muted"
            v-if="invoice.discount"
          >
            With Discount: {{invoice.discount}} %
          </h6>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data(){
      return {
        invoice: {
          total: '',
          discount: ''
        },
        customer: {
          name: ''
        },
        invoiceItems: [],
        products: []
      }
    },
    async created(){
      // Get Invoice
      try{
        let {data} = await this.axios.get(`/api/invoices/${this.$route.params.id}`);

        this.invoice = data;
        console.log(this.invoice);
      } catch (err) {
        console.log(err);
      }

      // get products list
      try{
        let {data} = await this.axios.get(`/api/invoices/${this.invoice.id}/items`);

        this.invoiceItems = data;
        console.log(this.invoiceItems);
      } catch (err) {
        console.log(err);
      }

      // get products list
      if(this.invoiceItems.length){
        this.invoiceItems.forEach(async (item) => {
          try{
            let {data} = await this.axios.get(`/api/products/${item.product_id}`);

            this.products.push(data);
          } catch (err) {
            console.log(err);
          }
        });
      }

      // if customer ID exists
      if(this.invoice.cutomer_id !== null){
        // Get Customer
        try{
          let {data} = await this.axios.get(`/api/customers/${this.invoice.customer_id}`);

          this.customer = data
        } catch (err) {
          console.log(err);
        }
      }
    }
  }
</script>
