<template>
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          App developed as the test project by Alexeev Kyrylo
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {

  }
</script>
