<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <router-link class="navbar-brand" to="/">Invoice App</router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <router-link
            to="/products"
            tag="li"
            active-class="active"
            class="nav-link"
          >Products</router-link>

          <router-link
            to="/customers"
            tag="li"
            active-class="active"
            class="nav-link"
          >Customers</router-link>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
  export default {

  }
</script>
