<template>
  <div class="container">
    <h1>Customers</h1>

    <div class="row cards-list">

    </div>
  </div>
</template>

<script>
  // import SingleCustomer from './SingleCustomer.vue';

  export default {
    data(){
      return {
        customersList: []
      }
    },
    async created(){
      try{
        let {data} = await this.axios.get('/api/customers');
        this.customersList = data
      } catch(err){
        console.error(err);
      }
    },
    components: {
      // singleCustomer
    }
  }
</script>
