<template>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card">
      <div class="card-body">
        <template v-if="!editMode">
          <h3 class="card-title">{{singleCustomer.name}}</h3>
          <address v-if="singleCustomer.address">
            {{singleCustomer.address}}
          </address>
          <p class="phone" v-if="singleCustomer.phone">
            {{singleCustomer.phone}}
          </p>
          <button
            class="btn btn-primary edit-button"
            @click="editMode = !editMode"
          >
            <i class="fa fa-pencil" aria-hidden="true"></i>Edit
          </button>
        </template>
        <template v-else>
          <div class="form-group">
            <input
              type="text"
              class="customer-title-input"
              v-model="singleCustomer.name"
            >
          </div>
          <div class="form-group">
            <input
              type="text"
              class="customer-address-input"
              v-model="singleCustomer.address"
            >
          </div>
          <div class="form-group">
            <input
              type="phone"
              class="customer-phone-input"
              v-model="singleCustomer.phone"
            >
          </div>
          <button
            class="btn btn-success edit-button"
            @click="saveCustomer"
          >Save</button>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      customer: {
        type: Object,
        required: true
      }
    },
    data(){
      return {
        singleCustomer: this.customer,
        editMode: false
      }
    },
    methods: {
      async saveCustomer(){
        await this.axios.put(`/api/customers/${this.singleCustomer.id}`, this.singleCustomer);

        this.editMode = !this.editMode
      }
    }
  }
</script>
