<template>
  <div class="container">
    <h1 class="text-center">Invoices Application</h1>

    <hr>

    <div class="text-right">
      <button
        type="button"
        class="btn show-form-button"
        :class="{'btn-danger': showForm, 'btn-success': !showForm}"
        @click="showForm = !showForm"
      >
        <template v-if="showForm">Cancel</template>
        <template v-else>Create invoice</template>
      </button>
    </div>

    <hr>

    <new-invoice
      v-if="showForm"
      @saveInvoice="updateInvoicesList"
    ></new-invoice>

    <invoices :invoices="invoicesList"></invoices>
  </div>
</template>

<script>
  import Invoices from '../Invoices/Invoices.vue';
  import NewInvoice from '../Invoices/NewInvoice.vue';

  export default {
    data(){
      return {
        showForm: false,
        invoicesList: []
      }
    },
    methods: {
      updateInvoicesList(updateInfo){
        let {newInvoice, exists} = updateInfo;

        if(exists){
          // If Invoice already created, update it
          this.invoicesList.forEach((invoice, index, arr) => {
            if(invoice.id === newInvoice.id){
              this.$set(arr, index, newInvoice);
            }
          })
        } else {
          // If Invoice doesn't exist, add it to the list
          this.invoicesList.push(newInvoice)
        }
      }
    },
    async created(){
      try{
        let {data} = await this.axios.get('/api/invoices');
        this.invoicesList = data
      } catch(err){
        console.error(err);
      }
    },
    components: {
      NewInvoice,
      Invoices
    }
  }
</script>
