<template>
  <div class="app-wrap">
    <app-header></app-header>

    <router-view></router-view>

    <app-footer></app-footer>
  </div>
</template>

<script>
import AppHeader from './components/general/AppHeader.vue';
import AppFooter from './components/general/AppFooter.vue';

export default {
  name: 'app',
  components: {
    AppHeader,
    AppFooter
  }
}
</script>
